@inherits LayoutComponentBase

<div class="page">
 

    <main>
        <head>
  
    <link rel="stylesheet" href="css\StyleSheet.css">
   
</head>
    <body>

      <div class="header" >
        <img id="logo" src="css\logo.png"  >
     </div>
     
     <div class="topnav">
       
        <NavLink href="/">Home</NavLink>
        <NavLink href="About">About</NavLink>
        <NavLink href="/">Home</NavLink>

     
       </div>
        <article>
            @Body
        </article>
              
     <div class="lower">
        <h2>contacts</h2>
        <div class="links">
            <ul>
                <li><a href="*">Intsagram</a></li>
                <li><a href="*">Email</a></li>
                <li><a href="*">facebook</a></li>
            </ul>
        </div>
     </div>     
     </body>
     </Main>
     
</div>
